div.headerbar {
	min-width: 100%;
	background-color: #386DFF;
	text-align: center;
	height: 70px;
	display: table;
}
div.menubar {
	padding: 10px 50px;
	width: 100%;
	height: 100%;
	text-align: right;
	display: table-cell;
	vertical-align: middle;
}
div.menubar img{
	vertical-align: middle;
}