html, body {
	background-image: url("../images/Background.png");
}

#header{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background: #aaaaaa;
}

#mainMenu {
	width: 100%;
}

#subPage {
	width: 100%;
}